extends layout

block content
  h1= title
  if error
    p(style="color: red")= error
  form(action="/login", method="POST")
    div
      label(for="username") Usuario:
      input(type="text", name="username", id="username", required)
    div
      label(for="password") Contraseña:
      input(type="password", name="password", id="password", required)
    button(type="submit") Iniciar sesión
